@media (max-width:1160px) {
    .header {
        display: flex;
        flex-wrap: wrap;
    }

    .header h1 {
        letter-spacing: normal;
        padding: 0;
        justify-content: space-between;
        gap: 0;
    }

    .biografia p {
        font-size: 18px;
    }

    .videos {
        display: flex;
        flex-wrap: wrap;
    }

    .gravacoes h2 {
        font-size: 20px;
        align-items: center;
    }
}

@media(max-width:825px) {

    .biografia p {
        width: 100%;
        text-align:justify;
        line-height: 1.5;
    }

   


    .contatos {
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .contatos a {
        font-size: 20px;
    }
}



@media(max-width:670px) {

    .videos{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 50%;
        height: 1300px;
        gap: 10px;
        justify-content: center;
    }

   
    .redes-sociais {
        display: none;
    }
}

@media(max-width:460px) {
    .header {
        background: transparent;
        font-size: 12px;
    }

    .biografia {
        margin: 5px;
        padding: 5px;
    }


}