@media (max-width:1160px) {
    .header {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        left: 10px;
        right: 10px;
    }

    .header h1 {
        letter-spacing: normal;
        padding: 0;
        justify-content: space-between;
        gap: 0;
    }

    .biografia p {
        font-size: 15px;
    }

    .gravacoes h2 {
        font-size: 20px;
        align-items: center;
    }
}

@media(max-width:670px) {
    .biografia {
        position: static;
        top: 180px;
    }

    .redes-sociais {
        display: none;
    }

    .gravacoes {
        position: relative;
        top: 360px;
    }

    footer {
        position: relative;
        top: 300px;
        margin-bottom: 25px;
    }
}

@media(max-width:460px) {
    .header {
        background-color: transparent;
    }

    .biografia {
        margin: 5px;
        padding: 5px;
    }

    .gravacoes {
        position: relative;
        top: 400px;
    }
}