*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

html{
    background-color: rgba(9, 9, 9, 0.923);
    
}

main{
    /* max-width: 1440px; */
    display: Flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:lightgray;
    font-size: 20px;
    margin: 10px;
    width:auto;
    
}

main img{
    width: 100%;
}

header{
    width: 95%;
    /* margin: 10px; */
    display: flex;
    position: fixed;
    left:35px;
    z-index: 1;
    align-items: center;
    justify-content:center;
    gap:60px;
    background-color: rgb(128, 127, 127);
    border-radius: 10px;
}

header h1{
    color:lightgray;
    letter-spacing: 10px;
    margin: 15px;

}
header h1 i{
    color: rgb(51, 68, 139);
    font-size: 25px;
}

.redes-sociais a{
    color: lightgray;
    font-size: 25px;
    padding: 10px;
}

.redes-sociais a:hover{
    color: rgb(51, 68, 139);
}

.foto1{
    width: 100%;
    margin: 10px;
    opacity: 0.3;
}

.biografia{
    margin: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    font-family:'Roboto';
    text-align:center;
    position: relative;
    top: -500px;
}

.biografia p{
    text-align:center;
}
.fotoCertificado{
    width: 50%; 
}

.gravacoes{
    display: flex;
    flex-direction: column;
    margin-top: -400px;
}

.gravacoes h2{
    text-align: center;
    margin-bottom: 15px;
}

.videos{
    margin: 10px 0px 10px 20px;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center; 
}



.videos a{
    height: 800px;
    align-items: center;
    justify-content: center;
}

.videos a:hover{
    border: 2px solid #fff;
    /*transform: rotateZ(-5deg) ; */
    transform: scale(0.9);
    transition: 1s ease;   
} 

.contatos{
    display: flex;
    gap: 20px; 
}

.contatos a{
    color: lightgray;
    font-size: 25px;
}

.contatos a:hover{
    color: rgb(51, 68, 139);
    
}